{% extends "base.html" %}

{% block title %} Leads {% endblock title %}

{% block content %}
    <div class="py-6 px-4">
        <h1 class="mb-6 text-xl text-center"> Leads </h1>
        
        <a href="{% url 'add_lead' %}" class=" inline-block py-4 px-6 bg-teal-600 rounded-xl text-white">Add Lead</a>

        {% if leads  %}
            <div class="mt-6 flex justify-between">
                <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Name</p>
                <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Priority</p>
                <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Status</p>
            </div>

            {% for lead in leads %}
                <div class="mt-2 flex justify-between">
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">
                        <a href=" {% url 'lead_detail' lead.pk %} ">{{lead.name}}</a>
                    </p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{lead.get_priority_display}}</p>
                    <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{lead.get_status_display}}</p>
                </div>
            {% endfor %}
        {% else %}
                <p class="px-2 px-2">There is no lead in the database.</p>
        {% endif %}

    </div>

{% endblock content %}
